absl-py
altair
appnope
asttokens
astunparse
attrs
backcall
blinker
cachetools
certifi
charset-normalizer
click
comm
debugpy
decorator
exceptiongroup
executing
flatbuffers
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
ipykernel
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
ml-dtypes
nest-asyncio
numpy
oauthlib
opt-einsum
packaging
pandas
parso
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pydeck
Pygments
python-dateutil
pytz
pyzmq
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
six
smmap
stack-data
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow-macos
tensorflow-metal
termcolor
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
wcwidth
Werkzeug
wrapt
zipp
